# Copy this file to base.cfg and edit it.

# Absolute paths and/or names of binaries (default path is /usr/bin)
qemu_binary = qemu
qemu_img_binary = qemu-img

# List of virtual machine object names (whitespace seperated)
vms = vm1
# Default virtual machine to use, when not specified by test.
main_vm = vm1
# Virtualization type (kvm/xen/libvirt/etc.)
vm_type = libvirt

# List of network device object names (whitespace seperated)
nics = nic1
# libvirt network to use examples network=default or bridge=virbr0
virsh_network = network=default

# List of block device object names (whitespace seperated)
images = image1
# List of optical device object names
cdroms = cd1

# USB controller object names (whitespace seperated)
usbs = usb1
# USB controller type, can be ehci/uhci
usb_type = uhci
# Max ports on a controller.
usb_max_port = 6



##### Low-level parameters for platform, networking, block, and usb devices.

# libvirt driver
driver_type = default

# Default number of processors for each VM
smp = 1
# Memory for each VM
mem = 1024

# Networking type (nic, user, tap, socket, vde, dump, none)
nic_mode = tap

# Size of file-based qcow2 image, if image_raw-device not used.
image_size = 10G

# Use raw block device node or file-based qcow2 format
image_raw_device = no
# Name of image, or path to device node if using image_raw_device
image_name = image

# Host-side caching to use (none, writeback, writethrough)
#    writeback - use host cache, report complete after storage write
#    writethrough - use host cache, report complete before storage write
drive_cache = none

# Guest Display type (vnc, sdl, spice, or nographic)
display = vnc
# If using a spice display, specific spice options
qxl = on
qxl_dev_nr = 1
spice = disable-ticketing
# Capture contents of display during each test
take_regular_screendumps = yes
keep_screendumps_on_error = yes
screendump_delay = 5
# Encode video from vm screenshots
encode_video_files = yes



##### Less-common and default parameters expected by some tests,
##### do not modify unless you know what you're doing.

# Monitor network traffic during testing
run_tcpdump = yes

# Block devices
drive_index_image1 = 0
drive_index_cd1 = 1

# Some preprocessor/postprocessor params
start_vm = yes
kill_vm = no
kill_vm_gracefully = yes
kill_unresponsive_vms = yes

# Screendump thread params
convert_ppm_files_to_png_on_error = yes
screendump_quality = 30
screendump_temp_dir = /dev/shm
screendump_verbose = no
keep_video_files = yes
keep_video_files_on_error = yes

# Default remote shell port (SSH under linux)
shell_port = 22
# If you need more ports to be available for comm between host and guest,
# please add them here
priv_bridge_ports = 53 67

# Default scheduler params
used_cpus = 1
used_mem = 512

# Port redirections
redirs = remote_shell
guest_port_remote_shell = 22

# Profilers
profilers = kvm_stat

# Timeouts
login_timeout = 360

# libvirt (virt-install optional arguments)
use_autostart = no
use_check_cpu = yes
use_debug = yes
use_no_reboot = no
use_os_variant = no
use_os_type = yes
# if using 'url = auto' to install, url_auto_ip must match IP on
# selected virsh network or bridge
url_auto_ip = 192.168.122.1
# wait in minutes for virt-install to finish (bz still open)
use_virt_install_wait = no
virt_install_wait_time = 300

# NFS directory of guest images
images_good = fileserver.foo.com:/autotest/images_good

