NAME = 'Threaded IO Bench'
AUTHOR = 'walkinair@cn.ibm.com'
TIME = 'MEDIUM'
TEST_CLASS = 'IO'
TEST_CATEGORY = 'Benchmark'
TEST_TYPE = 'client'

DOC = """
Performs threaded I/O benchmarks.
"""

job.run_test('tiobench', dir='/mnt')
