NAME = 'Threaded IO Bench'
AUTHOR = 'walkinair@cn.ibm.com'
TIME = 'MEDIUM'
TEST_CLASS = 'IO'
TEST_CATEGORY = 'Benchmark'
TEST_TYPE = 'client'

DOC = """
Performs threaded I/O benchmarks.
"""

job.run_test('tiobench',
             args='--block=4096 --block=8192 --threads=10 --size=1024',
             iterations=2,
             dir='/mnt')
