AUTHOR = 'Jean Marc Eurin <jmeurin@google.com>'
TIME='SHORT'
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = 'client'
NAME = 'Container Functional'
EXPERIMENTAL = 'True'

DOC = '''
This is a container functional test, to check that the containers are
setup in /dev/cpuset/
'''

cont_args = {'cpus': [2, 3],
	     'mbytes': 100,
	     'name': 'autotest_container'}
job.new_container(**cont_args)
job.run_test('container_functional', **cont_args)
job.release_container()
