AUTHOR = "Joshua Root <jmr@gelato.unsw.edu.au>"
EXPERIMENTAL = 'True'  # Change if you use this and it works.  :-)
NAME = "btreplay"
TIME = "short"
TEST_CLASS = "Kernel"
TEST_CATEGORY = "Functional"
TEST_TYPE = "client"
DOC = """\
Here's a test that takes a trace produced by blktrace, and uses btreplay
to replay it against a device. Output consists of wall clock time,
system time, and average request completion latency.

A spare device or partition is required for the test to trash. If this
is unacceptable, it can easily be changed to be read-only by default.

The trick, of course, will be choosing one or more traces that are
generally "interesting enough" to include.
"""

job.run_test('btreplay')
