NAME = "Parallel DD"
AUTHOR = "Martin Bligh <mbligh@google.com>"
TIME = "MEDIUM"
TEST_CATEGORY = "PERFORMANCE"
TEST_CLASS = "HARDWARE"
TEST_TYPE = "CLIENT"
DOC = """
Measures the performance of writing and reading multiple streams of files onto
the files system.
"""

# YOU NEED TO SPECIFY A FILESYSTEM 
# fs = job.filesystem('/dev/sda3', job.tmpdir)
job.run_test('parallel_dd', fs=fs, fstype='ext2', iterations=5, megabytes=1000, streams=2)


