AUTHOR = "Randy.Dunlap <rdunlap@xenotime.net>"
NAME = "fio"
TEST_CATEGORY = "Stress"
TEST_CLASS = "General"
TEST_TYPE = "client"
TIME = 'MEDIUM'
EXPERIMENTAL = "True"
DOC='''
fio is an I/O tool meant to be used both for benchmark and stress/hardware 
verification. This test runs the fio tool. Details can be found at : 
http://freshmeat.net/projects/fio/
'''
job.run_test('fio')
