# default svn:ignore property:
*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store.
# additional patterns:
RELEASE-VERSION
*.pyc
*.pid
client/control
client/results/
client/tests/kvm/env
client/tests/kvm/*.cfg
client/tests/libvirt/env
client/tests/libvirt/*.cfg
client/tests/virt_v2v/env
client/tests/virt_v2v/*.cfg
client/tests/virt_v2v/src
client/tmp
logs/*
server/tmp
tko/parsers/test/site_scenarios
ExternalSource
results/*
site-packages/
frontend/client/gwt-unitCache/
frontend/client/www/
