AUTHOR = "Michal Piotrowski <michal.k.k.piotrowski@gmail.com>"

NAME = "Real Time Test Cases"

TIME = "MEDIUM"
TEST_CLASS = "Kernel"
TEST_CATEGORY = "Functional"
TEST_TYPE = "Client"
EXPERIMENTAL = "True"

DOC = "Runs some real time tests from rttester"
job.run_test('rttester')
