AUTHOR = 'aganti@google.com (Ashwin Ganti)'
TIME = 'MEDIUM'
NAME = 'libhugetlbfs test'
TEST_TYPE = 'client'
TEST_CLASS = 'Kernel'
TEST_CATEGORY = 'Functional'

DOC = '''
Tests basic huge pages functionality when using libhugetlbfs. For more info
about libhugetlbfs see http://libhugetlbfs.ozlabs.org/
'''

job.run_test('libhugetlbfs', dir='/mnt')
