NAME='Sparse Kernel Test'
EXPERIMENTAL='True'
TIME='MEDIUM'
TEST_TYPE='client'
TEST_CATEGORY='Functional'
TEST_CLASS='Kernel'
AUTHOR='Martin Bligh <mbligh@google.com>'
DOC='''\
Sparse is a semantic parser of source files: it's neither a compiler
(although it could be used as a front-end for one) nor is it a
preprocessor (although it contains as a part of it a preprocessing
phase).

It is meant to be a small - and simple - library.  Scanty and meager,
and partly because of that easy to use.  It has one mission in life:
create a semantic parse tree for some arbitrary user for further
analysis.  It's not a tokenizer, nor is it some generic context-free
parser.  In fact, context (semantics) is what it's all about - figuring
out not just what the grouping of tokens are, but what the _types_ are
that the grouping implies.
'''
job.run_test('sparse',
             base_tree='/usr/local/src/linux-2.6.14.tar.bz2',
             patches='/usr/local/src/patch-2.6.14-git6.bz2',
             config='http://ftp.kernel.org/pub/linux/kernel/people/mbligh/config/config.up')

