NAME = "IPv6 Connect"
AUTHOR = "David Luyer <luyer@google.com>"
TIME = "MEDIUM"
TEST_CATEGORY = "FUNCTIONAL"
TEST_CLASS = "KERNEL"
TEST_TYPE = "CLIENT"
DOC = """
Create many TCP connections to dual-stack sockets on IPv6 loopback, connecting
to the IPv4, IPv6-mapped-IPv4 and IPv6 loopback address (different code paths).
"""

job.run_test('ipv6connect')
