NAME = 'Verify Test'
AUTHOR = 'jorlow@google.com (Jeremy Orlow)'
TIME = 'SHORT'
TEST_CLASS = 'Software'
TEST_CATEGORY = 'Functional'
TEST_TYPE = 'server'
RUN_VERIFY = False

DOC = """
Run the same verify function that the scheduler uses.  If you're running this
test from within a scheudler, the only discernable difference is that the
result will show up in TKO and it will _not_ block other tests from running
if it fails.
"""

def run(machine):
    host = hosts.create_host(machine, initialize=False)
    job.run_test('verify_test', host=host, disable_sysinfo=True)

job.parallel_simple(run, machines)

