AUTHOR = "Gregory Smith <gps@google.com>"
EXPERIMENTAL = 'True'  # Not really, but this is only for testing autotest...
                       # not testing _with_ autotest.
NAME = "error test of a buggy test class"
TEST_TYPE = "client"
TEST_CLASS = "General"
TEST_CATEGORY = "Functional"
TIME = "SHORT"
DOC = """Simulate a buggy test.  This is for testing Autotest itself."""

job.run_test('error_test_bug')
