NAME = 'System Evaluation Benchmark'
AUTHOR = 'Anton Blanchard <anton@samba.org>'
TIME = 'MEDIUM'
TEST_CLASS = 'IO'
TEST_CATEGORY = 'Benchmark'
TEST_TYPE = 'client'
EXPERIMENTAL = 'True'

DOC = """
The idea is to quickly get an impression about system performance for MySQL
usage without setting up complex benchmark and even without installing MySQL.
In some cases this is very helpful. This is also the reason for having
everything in simple file not depending on any external libraries.
"""

build = 1
for threads in range(1, count_cpus()+1):
	job.run_test('sysbench', db_type='pgsql', build=build, \
		num_threads=threads, read_only=1, tag='pgsql.' + str(threads))
	build = 0

build = 1
for threads in range(1, count_cpus()+1):
	job.run_test('sysbench', db_type='mysql', build=build, \
		num_threads=threads, read_only=1, tag='mysql.' + str(threads))
	build = 0
