body {
  margin-top: 0px;
}

.motd {
  color: black;
  text-align: right;
}

.data-table {
  border: 2px solid #A0A0A0;
  empty-cells: show;
}

.data-table td {
  margin: 0;
  padding: 0.2em 0.4em;
  white-space: pre;
  border-bottom: 1px solid #C0C0C0;
}

.data-row-header {
  background: #b4b9cb;
  font-weight: bold;
}

.data-row-header-sortable {
  cursor: pointer;
}

.data-row-header-sortable td:hover {
  background: #f4f4f4;
}

.data-row {
  background: white;
}

.data-row-alternate {
  background: #f4f4f4;
}

tr.data-row-clickable {
  cursor: pointer;
}

tr.data-row-clickable:hover {
  background: #FFFFBB;
}

.data-row-highlighted {
  background: #FFFFBB;
}

.job-control {
  margin-bottom: 0.5em;
}

.job-filter-links .gwt-TabBarItem {
  padding: 0.3em;
  margin-right: 1em;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.job-filter-links .gwt-TabBarItem-selected {
  background: #f4f4f4;
}

.selected-link {
  background-color: #f4f4f4;
}

.box {
  border: 1px solid #55679e;
  padding: 0.2em;
  margin: 0.2em;
}

.box-full {
  background: #f4f4f4;
  padding: 0.2em;
  margin: 0.2em;
}

.title {
  font-weight: bold;
  font-size: larger;
}

#job_id_fetch {
  padding: 0.2em 0.2em 0.4em 0.2em;
  margin: 0.1em;
}

.form-table {
}

.form-table td {
  vertical-align: top;
}

.gwt-CheckBox {
  margin-right: 1em;
}

.field-name {
  font-weight: bold;
  white-space: nowrap;
}

.gwt-DisclosurePanel {
  border: 1px solid gray;
  padding: 0.2em;
}

.gwt-DisclosurePanel .header {
  cursor: pointer;
}

.gwt-DisclosurePanel a.header {
  text-decoration: none;
}

.filter-box {
  margin-left: 1em;
}

.gwt-Button {
  margin: 0.2em;
}

.results-frame {
  max-width: 700px;
  max-height: 500px;
  margin-bottom: 0.2em;
  border: 2px solid gray;
}

.gwt-DialogBox {
  background: white;
  border: 2px solid #f4f4f4;
  width: 30em;
  text-align: center;
  cursor: default;
}

.gwt-DialogBox .Caption {
  background: #f4f4f4;
  font-weight: bold;
  text-align: center;
}

.notify {
  vertical-align: middle;
  width: 100%;
}

.notify-inner {
  background: #FEF0A7;
  padding: 0.2em;
  vertical-align: middle;
  margin: 0 auto;
}

.error {
  color: red;
  white-space: pre;
}

.gwt-TextArea {
  border: 1px solid black;
}

.gwt-TextArea-readonly {
  background: #F0F0F0;
}

.help {
  font-style: italic;
  text-align: left;
  width: 100%;
}

.hidden {
  display: none;
}

.paginator-link {
  padding: 0 0.2em;
}

.SimpleHyperlink {
  display: inline;
  white-space: nowrap;
}

.test-description {
  white-space: pre;
}

.gwt-HorizontalSplitPanel {
  border: 1px solid #ACF;
}

.gwt-HorizontalSplitPanel .hsplitter {
  cursor: move;
  background: #55679e;
}

.radio-chooser .gwt-RadioButton {
  white-space: nowrap;
  margin-right: 1em;
}

