AUTHOR = "Gregory Smith <gps@google.com>"
EXPERIMENTAL = 'True'  # Not really, but this is only for testing autotest...
                       # not testing _with_ autotest.
NAME = "error test for cleanup phase exception"
TEST_TYPE = "client"
TEST_CLASS = "General"
TEST_CATEGORY = "Functional"
TIME = "SHORT"
DOC = """Raise an exception during cleanup().  This tests Autotest itself."""

job.run_test('error_cleanup')
