AUTHOR = """
ajia@redhat.com (Alex Jia)
gsun@redhat.com (Wayne Sun)
"""
TIME = 'MEDIUM'
NAME = 'virt-v2v test'
TEST_TYPE = 'client'
TEST_CLASS = 'Virtualization'
TEST_CATEGORY = 'Functional'

DOC = """
Executes the virt-v2v test on a given host. This module is separated in
minor functions, that execute different tests for doing Quality Assurance
on virt-v2v code.
"""

import sys, os, logging
virt_test_dir = os.path.join(os.environ['AUTODIR'],'tests/virt')
sys.path.insert(0, virt_test_dir)
from virttest import utils_misc, cartesian_config

# set English environment (command output might be localized, need to be safe)
os.environ['LANG'] = 'en_US.UTF-8'

str = """
# This string will be parsed after build.cfg.  Make any desired changes to the
# build configuration here.  For example (to install from koji/brew):
# installers = koji_virt_v2v
"""

parser = cartesian_config.Parser()

# parser.parse_file(os.path.join(v2v_test_dir, "build.cfg"))
# parser.parse_string(str)
# if not utils_misc.run_tests(parser, job):
#     logging.error("Virt-v2v build step failed, exiting.")
#     sys.exit(1)

parser.parse_file(os.path.join(virt_test_dir, "v2v", "cfg", "tests.cfg"))

utils_misc.run_tests(parser, job)
