AUTHOR = "Martin Bligh <mbligh@google.com>"
NAME = "bash shared mapping"
TIME = "SHORT"
TEST_CLASS = "Kernel"
TEST_CATEGORY = "Functional"
TEST_TYPE = "client"
DOC = """\
Who knows...
"""

job.run_test('bash_shared_mapping')
