NAME = "Pktgen test"
AUTHOR = "Martin Bligh <mbligh@google.com>"
TIME = "MEDIUM"
TEST_CATEGORY = "FUNCTIONAL"
TEST_CLASS = "HARDWARE"
TEST_TYPE = "CLIENT"
DOC = """
pktgen is a high-performance testing tool included in the Linux kernel. Being
part of the kernel is currently best way to test the TX process of device driver
and NIC. pktgen can also be used to generate ordinary packets to test other
network devices. Especially of interest is the use of pktgen to test routers or
bridges which use the Linux network stack. Because pktgen is "in-kernel", it can
generate very high packet rates and with few systems saturate network devices as
routers or bridges.
"""

job.run_test('pktgen', eth='eth0', count=50000, clone_skb=0, tag='clone_skb_off')
job.run_test('pktgen', eth='eth0', count=50000, clone_skb=1, tag='clone_skb_on')

