TIME="SHORT"
AUTHOR = "Ranjit Manomohan"
DOC = """
memory api tests run through a series of memory allocation calls which may
then be used to analyze the kernel mappings of the corresponding memory areas.
"""
NAME = 'memory_api'
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = 'client'


job.run_test('memory_api')
