AUTHOR = "mbligh@google.com"

NAME = "Rmap test"

TIME = "MEDIUM"
TEST_CLASS = "Kernel"
TEST_CATEGORY = "Fuctional"
TEST_TYPE = "Client"
EXPERIMENTAL = "True"

DOC = """
Create lots of VMAs mapped by lots of tasks.  To tickle objrmap and the
virtual scan.
"""
job.run_test('rmaptest')
