AUTHOR = "Masoud S <masouds@google.com>"
NAME = "aio stress"
TEST_CATEGORY = "Stress"
TEST_CLASS = "Kernel"
TIME = "SHORT"
TEST_TYPE = "client"
DOC = """\
aio-stress

will open or create each file on the command line, and start a series
of aio to it.

aio is done in a rotating loop.  first file1 gets 8 requests, then
file2, then file3 etc.  As each file finishes writing, it is switched
to reads

io buffers are aligned in case you want to do raw io

This test takes less than a minute. It ends up writing and reading less
than a few Megs. It is a sequential workload. This test stresses the aio
interface not the disk, or kernel.
"""

job.run_test('aiostress')
