NAME = 'Unix Bench'
AUTHOR = 'adrianbg@google.com'
TIME = 'MEDIUM'
TEST_CLASS = 'Kernel'
TEST_CATEGORY = 'Benchmark'
TEST_TYPE = 'client'
DOC = """
Performs the standard Unixbench suite of tests (v4.1).
"""

job.run_test('unixbench')
