# Copy this file to build.cfg and edit it.

vm_type = kvm

variants:
    - build:
        type = build
        # Load modules built/installed by the build test?
        load_modules = no
        # Save the results of this build on test.resultsdir?
        save_results = no
        # Preserve the source code directory between tests?
        preserve_srcdir = yes

        ######################################################################
        # INSTALLERS DEFINITION SECTION
        # Many different components can be defined. The ones that will
        # actually be run have to be defined in the 'installers'
        ######################################################################
        # QEMU installation from a local tarball
        # local_tar_qemu_path = /tmp/qemu-0.15.1.tar.gz

        # QEMU installation from a local source directory
        # local_src_qemu_path = /tmp/qemu-0.15.1

        # QEMU installation from a GIT repo
        git_repo_qemu_uri = git://git.qemu.org/qemu.git
        git_repo_qemu_configure_options = --target-list=x86_64-softmmu --enable-spice
        # if you have a git repo that is closer to you, you may
        # use it to fetch object first from it, and then later from "upstream"
        # git_repo_qemu_base_uri = /home/user/code/qemu

        # QEMU (KVM) installation from a GIT repo
        # git_repo_qemu_kvm_uri = git://github.com/avikivity/qemu.git
        # git_repo_qemu_kvm_configure_options = --enable-spice

        # SPICE installation from a GIT repo
        git_repo_spice_uri = git://anongit.freedesktop.org/spice/spice

        # spice-protocol installation from a GIT repo
        git_repo_spice_protocol_uri = git://anongit.freedesktop.org/spice/spice-protocol

        # QEMU (KVM) installation from a YUM repo
        # yum_qemu_kvm_pkgs = ['qemu-kvm', 'qemu-kvm-tools', 'qemu-system-x86', 'qemu-common', 'qemu-img']

        # QEMU (KVM) installation from koji/brew
        # koji_qemu_kvm_tag = dist-f15
        # koji_qemu_kvm_pkgs = [':qemu:qemu-common,qemu-img,qemu-kvm,qemu-system-x86,qemu-kvm-tools', 'seabios', 'vgabios', ':gpxe:gpxe-roms-qemu', ':spice:spice-server']

        ######################################################################
        # INSTALLERS SELECTION
        # Choose here what components you want to install
        ######################################################################
        installers = git_repo_spice_protocol git_repo_spice git_repo_qemu

        # Choose wether you want to include debug information/symbols
        install_debug_info = yes


# Comment out the 'no build' line to enable the build test
no build
