# Rename this file to kvm_address_pools.cfg.
# This file specifies several MAC-IP ranges for each host in the network that
# may run KVM tests.  A MAC address must not be used twice, so these ranges
# must not overlap.  The VMs running on each host will only use MAC addresses
# from the pool of that host.
# If you wish to use a static MAC-IP mapping, where each MAC address range is
# mapped to a known corresponding IP address range, specify the bases of the IP
# address ranges in this file.
# If you specify a MAC address range without a corresponding IP address range,
# the IP addresses for that range will be determined at runtime by listening
# to DHCP traffic using tcpdump.
# If you wish to determine IP addresses using tcpdump in any case, regardless
# of any # IP addresses specified in this file, uncomment the following line:
#always_use_tcpdump = yes
# You may also specify this parameter for specific hosts by adding it in the
# appropriate sections below.

variants:
    # Rename host1 to an actual (short) hostname in the network that will be running the Autotest client
    - @host1:
        # Add/remove ranges here
        address_ranges = r1 r2

        # Modify the following parameters to reflect the DHCP server's configuration
        address_range_base_mac_r1 = 52:54:00:12:35:56
        #address_range_base_ip_r1 = 10.0.2.20
        address_range_size_r1 = 16

        # Modify the following parameters to reflect the DHCP server's configuration
        address_range_base_mac_r2 = 52:54:00:12:35:80
        #address_range_base_ip_r2 = 10.0.2.40
        address_range_size_r2 = 16

    # Rename host2 to an actual (short) hostname in the network that will be running the Autotest client
    - @host2:
        # Add/remove ranges here
        address_ranges = r1 r2

        # Modify the following parameters to reflect the DHCP server's configuration
        address_range_base_mac_r1 = 52:54:00:12:36:56
        #address_range_base_ip_r1 = 10.0.3.20
        address_range_size_r1 = 16

        # Modify the following parameters to reflect the DHCP server's configuration
        address_range_base_mac_r2 = 52:54:00:12:36:80
        #address_range_base_ip_r2 = 10.0.3.40
        address_range_size_r2 = 16

    # Add additional hosts here...

    # This will be used for hosts that do not appear on the list
    - @default_host:
        # Add/remove ranges here
        address_ranges = r1 r2

        # Modify the following parameters to reflect the DHCP server's configuration
        address_range_base_mac_r1 = 52:54:00:12:34:56
        #address_range_base_ip_r1 = 10.0.1.20
        address_range_size_r1 = 16

        # Modify the following parameters to reflect the DHCP server's configuration
        address_range_base_mac_r2 = 52:54:00:12:34:80
        #address_range_base_ip_r2 = 10.0.1.40
        address_range_size_r2 = 16
