# Copy this file to tests.cfg and edit it.
#
# This file contains the test set definitions. Define your test sets here.
include tests_base.cfg
include cdkeys.cfg

# Modify/comment the following lines if you wish to modify
# the paths of the image files, ISO files, step files or qemu binaries.
#
# As for the defaults:
# * qemu and qemu-img are expected to be found under /usr/bin/qemu-kvm and
#   /usr/bin/qemu-img respectively.
# * All image files are expected under /tmp/kvm_autotest_root/images/
# * All iso files are expected under /tmp/kvm_autotest_root/isos/
# * All step files are expected under /tmp/kvm_autotest_root/steps/
qemu_img_binary = /usr/bin/qemu-img
image_name.* ?<= /tmp/kvm_autotest_root/
cdrom.* ?<= /tmp/kvm_autotest_root/
steps ?<= /tmp/kvm_autotest_root/

# Here are the test sets variants. The variant 'qemu_kvm_windows_quick' is
# fully commented, the following ones have comments only on noteworthy points
variants:
    # Runs all variants defined. HUGE test set.
    - @full:

    # Runs qemu-kvm, Windows Vista 64 bit guest OS, install, boot, shutdown
    - @qemu_kvm_windows_quick:
        # We want qemu-kvm for this run
        qemu_binary = /usr/bin/qemu-kvm
        # Only qcow2 file format
        only qcow2
        # Only rtl8139 for nw card (default on qemu-kvm)
        only rtl8139
        # Only ide hard drives
        only ide
        # acpi means that acpi and kvm irq chip are enabled
        only acpi
        # qemu-kvm will start only with -smp 2 (2 processors)
        only smp2
        # No PCI assignable devices
        only no_pci_assignable
        # No large memory pages
        only smallpages
        # Operating system choice
        only Win7.64
        # Subtest choice. You can modify that line to add more subtests
        only unattended_install.cdrom boot shutdown

    # Runs qemu, f13 64 bit guest OS, install, boot, shutdown
    - @qemu_f13_quick:
        # We want qemu for this run
        qemu_binary = /usr/bin/qemu
        only qcow2
        # The default nw card for qemu is e1000
        only e1000
        only ide
        only acpi
        # qemu using kvm doesn't support smp yet
        only up
        only no_pci_assignable
        only smallpages
        only Fedora.13.64
        only unattended_install.cdrom boot shutdown
        # qemu needs -enable-kvm on the cmdline
        extra_params = ' -enable-kvm'

    # Runs qemu-kvm, f13 64 bit guest OS, install, boot, shutdown
    - @qemu_kvm_f13_quick:
        # We want qemu-kvm for this run
        qemu_binary = /usr/bin/qemu-kvm
        only qcow2
        only rtl8139
        only ide
        only acpi
        only smp2
        only no_pci_assignable
        only smallpages
        only Fedora.13.64
        only unattended_install.cdrom boot shutdown

# Uncomment the following lines to enable abort-on-error mode:
#abort_on_error = yes
#kill_vm.* ?= no
#kill_unresponsive_vms.* ?= no

# Choose your test list from the testsets defined
only qemu_kvm_f13_quick
