# Copy this file to tests.cfg and edit it.
#
# This file contains the test set definitions. Define your test sets here.

# Include the base config files.
include tests-shared.cfg

# Here you can override the image name for our custom linux and windows guests
#
CustomGuestLinux:
    # Here you can override the default login credentials for your custom guest
    username = root
    password = 123456
    image_name = custom_image_linux
    image_size = 10G
    # If you want to use a block device as the vm disk, uncomment the 2 lines
    # below, pointing the image name for the device you want
    #image_name = /dev/mapper/vg_linux_guest
    #image_raw_device = yes

CustomGuestWindows:
    image_name = custom_image_windows
    image_size = 10G
    # If you want to use a block device as the vm disk, uncomment the 2 lines
    # below, pointing the image name for the device you want
    #image_name = /dev/mapper/vg_windows_guest
    #image_raw_device = yes

# Here are the test sets variants. The variant 'qemu_kvm_windows_quick' is
# fully commented, the following ones have comments only on noteworthy points
variants:
    # Runs all variants defined. HUGE test set.
    - @full:

    # Runs qemu-kvm, Windows Vista 64 bit guest OS, install, boot, shutdown
    - @qemu_kvm_windows_quick:
        # We want qemu-kvm for this run
        qemu_binary = /usr/bin/qemu-kvm
        qemu_img_binary = /usr/bin/qemu-img
        qemu_io_binary = /usr/bin/qemu-io
        # Only qcow2 file format
        only qcow2
        # Only rtl8139 for nw card (default on qemu-kvm)
        only rtl8139
        # Only ide hard drives
        only ide
        # qemu-kvm will start only with -smp 2 (2 processors)
        only smp2
        # Disable 9p export by default
        only no_9p_export
        # No PCI assignable devices
        only no_pci_assignable
        # No large memory pages
        only smallpages
        # Operating system choice
        only Win7.64.sp1
        # Subtest choice. You can modify that line to add more subtests
        only unattended_install.cdrom, boot, shutdown

    # Runs qemu, f16 64 bit guest OS, install, boot, shutdown
    - @qemu_f16_quick:
        # We want qemu for this run
        qemu_binary = /usr/bin/qemu
        qemu_img_binary = /usr/bin/qemu-img
        qemu_io_binary = /usr/bin/qemu-io
        only qcow2
        # The default nw card for qemu is e1000
        only e1000
        only ide
        # qemu using kvm doesn't support smp yet
        only up
        only no_9p_export
        only no_pci_assignable
        only smallpages
        only Fedora.16.64
        only unattended_install.cdrom.extra_cdrom_ks, boot, shutdown
        # qemu needs -enable-kvm on the cmdline
        extra_params += ' -enable-kvm'

    # Runs qemu-kvm, f16 64 bit guest OS, install, boot, shutdown
    - @qemu_kvm_f16_quick:
        # We want qemu-kvm for this run
        qemu_binary = /usr/bin/qemu-kvm
        qemu_img_binary = /usr/bin/qemu-img
        qemu_io_binary = /usr/bin/qemu-io
        only qcow2
        only rtl8139
        only ide
        only smp2
        only no_9p_export
        only no_pci_assignable
        only smallpages
        only Fedora.16.64
        only unattended_install.cdrom.extra_cdrom_ks, boot, shutdown

    # Runs qemu-kvm, f16 64 bit guest OS, install, starts qemu-kvm
    # with 9P support and runs 9P CI tests
    - @qemu_kvm_9p_export:
        qemu_binary = /usr/bin/qemu-kvm
        qemu_img_binary = /usr/bin/qemu-img
        qemu_io_binary = /usr/bin/qemu-io
        only raw
        only virtio_net
        only virtio_blk
        only smp2
        only no_pci_assignable
        only smallpages
        only 9p_export
        only Fedora.16.64
        only unattended_install.cdrom.extra_cdrom_ks, boot, 9p.9p_ci, shutdown

    # Runs your own guest image (qcow2, can be adjusted), all migration tests
    # (on a core2 duo laptop with HD and 4GB RAM, F15 host took 3 hours to run)
    # Be warned, disk stress + migration can corrupt your image, so make sure
    # you have proper backups
    - @qemu_kvm_custom_migrate:
        # We want qemu-kvm for this run
        qemu_binary = /usr/bin/qemu-kvm
        qemu_img_binary = /usr/bin/qemu-img
        qemu_io_binary = /usr/bin/qemu-io
        only qcow2
        only rtl8139
        only ide
        only smp2
        only no_9p_export
        only no_pci_assignable
        only smallpages
        only CustomGuestLinux
        only migrate

# Choose your test list from the testsets defined
only qemu_kvm_f16_quick
