# Copy this file to tests-shared.cfg and edit it.
#
# This file contains the base test set definitions, shared among single host
# and multi host jobs.

# Virtualization type (kvm or libvirt)
vm_type = kvm
# The hypervisor uri (default, qemu://hostname/system, etc.)
# where default or unset means derive from installed system
connect_uri = default

# Include the base config files.
include base.cfg
include subtests.cfg
include guest-os.cfg
include guest-hw.cfg
include cdkeys.cfg
include virtio-win.cfg

# Additional directory for find virt type tests. Relative to client/tests
other_tests_dirs = ""

# Modify/comment the following lines if you wish to modify the paths of the
# image files, ISO files or qemu binaries.
#
# As for the defaults:
# * qemu and qemu-img are expected to be found under /usr/bin/qemu-kvm and
#   /usr/bin/qemu-img respectively.
# * All image files are expected under /tmp/kvm_autotest_root/images/
# * All install iso files are expected under /tmp/kvm_autotest_root/isos/
# * The parameters cdrom_unattended, floppy, kernel and initrd are generated
#   by KVM autotest, so remember to put them under a writable location
#   (for example, the cdrom share can be read only)
image_name(_.*)? ?<= /tmp/kvm_autotest_root/images/
cdrom(_.*)? ?<= /tmp/kvm_autotest_root/
floppy ?<= /tmp/kvm_autotest_root/
Linux..unattended_install:
    kernel ?<= /tmp/kvm_autotest_root/
    initrd ?<= /tmp/kvm_autotest_root/

# You may provide information about the DTM server for WHQL tests here:
#whql:
#    server_address = 10.20.30.40
#    server_shell_port = 10022
#    server_file_transfer_port = 10023
# Note that the DTM server must run rss.exe (available under deps/),
# preferably with administrator privileges.

# Uncomment the following lines to enable abort-on-error mode:
#abort_on_error = yes
#kill_vm.* ?= no
#kill_unresponsive_vms.* ?= no
