# Copy this file to unittests.cfg and edit it.
#
# Define the objects we'll be using
vms = vm1
vm_type = kvm

# Choose the main VM
main_vm = vm1

# Some preprocessor/postprocessor params
start_vm = yes
kill_vm = yes
kill_vm_gracefully = no

# Monitor
monitors = humanmonitor1
main_monitor = humanmonitor1
monitor_type = human

# Screendump specific stuff
take_regular_screendumps = no

# Some default VM params
qemu_binary = qemu
qemu_img_binary = qemu-img
mem = 512
display = vnc

# Default scheduler params
used_cpus = 1
used_mem = 512

# NIC parameters
run_tcpdump = no

# Misc
run_kvm_stat = yes

# Tests
variants:
    - build:
        type = build
        vms = ''
        start_vm = no
        # Load modules built/installed by the build test?
        load_modules = no
        # Save the results of this build on test.resultsdir?
        save_results = no
        # Preserve the source code directory between tests?
        preserve_srcdir = yes
        variants:
            - git:
                mode = git
                user_git_repo = git://git.kernel.org/pub/scm/virt/kvm/qemu-kvm.git
                user_branch = next
                user_lbranch = next
                test_git_repo = git://git.kernel.org/pub/scm/virt/kvm/kvm-unit-tests.git

    - unittest:
        type = unittest
        vms = ''
        start_vm = no
        unittest_timeout = 600
        testdev = yes
        extra_params += " -S"
        # In case you want to execute only a subset of the tests defined on the
        # unittests.cfg file on qemu-kvm, uncomment and edit test_list
        #test_list = idt_test hypercall vmexit realmode

only build.git unittest
