AUTHOR = "Martin Bligh <mbligh@google.com>"
NAME = "fsfuzzer"
TEST_CATEGORY = "Stress"
TEST_CLASS = "General"
TEST_TYPE = "client"
TIME = 'MEDIUM'
EXPERIMENTAL = "True"

DOC='''
fsfuzzer is a file system fuzzer tool. This test simply runs fsfuzzer.

Fuzzing is slang for fault injection via random inputs. The goal is to
find bugs in software without reading code or designing detailed test
cases. Here fsfuzz will inject random errors into the files systems
mounted. Evidently it has found many errors in many systems.

WARNING: Currently this test may not work, and it may break subsequent
other test runs.
'''

job.run_test('fsfuzzer')
