AUTHOR = "Jiri Zupka <jzupka@redhat.com>"
NAME = "Cpuflags"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "General"
TEST_TYPE = "client"

DOC = """
Autotest test for testing main group ofcpu flags functionalitines.
"""

job.run_test('cpuflags')
