NAME='Signal Test'
AUTHOR='Michal Piotrowski <michal.k.k.piotrowski@gmail.com>'
TIME='SHORT'
TEST_TYPE='client'
TEST_CLASS='Kernel'
TEST_CATEGORY='Functional'
DOC='''\
Test signal passing to processes
'''
job.run_test('signaltest')
