NAME = "LSB-DTK"
AUTHOR = "Pavan Naregundi <pnaregun@in.ibm.com>"
TIME = "MEDIUM"
TEST_CATEGORY = "FUNCTIONAL"
TEST_CLASS = "KERNEL"
TEST_TYPE = "CLIENT"
EXPERIMENTAL = "True"
DOC = """
Test for LSB-DTK
"""

lsb_cfg = '''
[lsb]
tarball_url = http://ftp.freestandards.org/pub/lsb/bundles/released-3.1.1/dist-testkit/lsb-dist-testkit-3.1.1-5.%s.tar.gz
tarball_url_alt = http://myhost.foo.com/packages/lsb-dtk/lsb-dist-testkit-3.1.1-5.%s.tar.gz
main_script_path = /opt/lsb/test/manager/autotest-ext/lsb-tef.pl
override_default_url = no
md5-ia32 = 3b00267e99fa7d9f6fff69d35a08be7e
md5-ia64 = db108739c977df69848da12345a7fc7c
md5-x86_64 = 35208e9442f5f8badb706f431ba59798
md5-ppc32 = 74951b8647d63a3c972709b36740af1e
md5-ppc64 = 767521902e079cd884ab5636ba699114
md5-s390 = c28b2d46459e6f0c591a06f7ee10ad84
md5-s390x = bf65a09c986a8e6cbec9276fa894c7b0

[dtk-manager]
tarball_url = ftp://ftp.freestandards.org/pub/lsb/test_suites/released-3.2.0/binary/runtime/lsb-dtk-manager-1.5.8-1.%s.rpm
arch-ia32 = i486
arch-ppc32 = ppc
arch-ppc64 = ppc64
arch-s390 = s390
arch-s390x = s390x
arch-ia64 = ia64
arch-x86_64 = x86_64
md5-ia32 = 9251e87b01f7ae45dc3256c4a68d1916
md5-ia64 = 1492809a15fd00e559addb6c7fcf0965
md5-ppc64 = 897835ed4e3f67ab872db1635ed24177
md5-ppc = dddbeb156300af5065f0d4bcf3cc557e
md5-s390 = 418e4bbf2ffe762a3b2b7f8f4d55b2d2
md5-s390x = c68be6e8b95b81fd8acae5f1b7fb8608
md5-x86_64 = 5db36531869dab4a0df3ed862a0e40e6

[lib]
libdir-ia32 = /lib
libdir-ppc32 = /lib
libdir-ppc64 = /lib64
libdir-s390 = /lib
libdir-s390x = /lib64
libdir-ia64 = /lib
libdir-x86_64 = /lib64
lib-ia32 = ['ld-lsb.so.2', 'ld-lsb.so.3']
lib-ppc32 = ['ld-lsb-ppc32.so.2', 'ld-lsb-ppc32.so.3']
lib-ppc64 = ['ld-lsb-ppc64.so.2', 'ld-lsb-ppc64.so.3']
lib-s390 = ['ld-lsb-s390.so.2', 'ld-lsb-s390.so.3']
lib-s390x = ['ld-lsb-s390x.so.2', 'ld-lsb-s390x.so.3']
lib-ia64 = ['ld-lsb-ia64.so.2', 'ld-lsb-ia64.so.3']
lib-x86_64 = ['ld-lsb.so.2', 'ld-lsb.so.3', 'ld-lsb-x86-64.so.2', 'ld-lsb-x86-64.so.3']
'''

# You can also provide 'all', that encompasses the three below.
test_list = ['appbat', 'libchk_qt4', 'runtime-tests']
for test in test_list:
	job.run_test('lsb_dtk', args = test, config = lsb_cfg, tag = test)
