for profiler in ['oprofile']:
	try:
		print "Testing profiler %s ..." % profiler
		job.profilers.add(profiler)
		job.profilers.start()
		job.profilers.stop()
	except:
		print "Test of profiler %s failed" % profiler
		raise
