AUTHOR = "Brandon Philips <brandon@ifup.org>"
NAME = "interbench"
TEST_CATEGORY = "Benchmark"
TEST_CLASS = "General"
TEST_TYPE = "client"
TIME = 'MEDIUM'
EXPERIMENTAL = "True"
DOC='''
Information of 'interbench' can be found at :
http://members.optusnet.com.au/ckolivas/interbench/
This test simply run's interbench.
'''
job.run_test('interbench')
