AUTHOR = '''mohd.omar@in.ibm.com (Mohammed Omar)'''

NAME = "Posix test"

TIME = "MEDIUM"
TEST_CLASS = "Kernel"
TEST_CATEGORY = "Functional"
TEST_TYPE = "Client"

DOC = "Runs the Posix test suite from http://posixtest.sourceforge.net"


job.run_test('posixtest')
