NAME = 'Xen Test'
AUTHOR = 'Paul Larson <pl@us.ibm.com>'
TIME = 'MEDIUM'
TEST_CLASS = 'Kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = 'client'
EXPERIMENTAL = 'True'

DOC = """
This suite provides a framework for testing the Xen userspace tools.
"""

job.run_test('xmtest', args='-e nobody@nowhere.org -d xmtest')
