AUTHOR = "Chirag <chirag@linux.vnet.ibm.com>"

NAME = "Kernel Realtime Tests"

TIME = "MEDIUM"
TEST_CLASS = "Kernel"
TEST_CATEGORY = "Functional"
TEST_TYPE = "Client"
EXPERIMENTAL = "True"

DOC = """Runs the Kernel Realtime tests from
http://git.kernel.org/?p=linux/kernel/git/galak/ltp.git;a=tree;f=testcases/realtime"""

job.run_test('real_time_tests')
