AUTHOR = "Randy.Dunlap <rdunlap@xenotime.net>"
NAME = "fsx"
TEST_CATEGORY = "Stress"
TEST_CLASS = "General"
TEST_TYPE = "client"
TIME = 'MEDIUM'
DOC='''
Fsx is a file system regression test.
'''
job.run_test('fsx')
