AUTHOR = "Lucas Meneghel Rodrigues <lmr@redhat.com>"
NAME = "autotest_regression"
TIME = "MEDIUM"
TEST_CLASS = "Autotest"
TEST_CATEGORY = "Functional"
TEST_TYPE = "client"
PKGS = ['pylint']
PKG_DEPS = {'Fedora': PKGS,
            'Red Hat': PKGS,
            'Debian': PKGS,
            'Ubuntu': PKGS}
DOC = """
Runs a series of tests in the autotest source tree. The goal is to regularly
test the general state of the autotest source tree, unittests, static checking
and some amount of sanity functionality checking.
"""
from autotest.client.shared import software_manager
software_manager.install_distro_packages(PKG_DEPS)
# One can specify custom uris, branches and even commits
# job.run_test(url='autotest_regression', uri='git://github.com/lmr/autotest.git',
#              branch='master', commit='7ed113d3c8606092fe64a663baf03d8ca03c6459')
job.run_test(url='autotest_regression')
