job.run_test('dbt2', db_type='pgsql', args='-w 1 -c 20 -d 1800 -s 100 -n -z "autotest pgsql"', tag='pgsql')
job.run_test('dbt2', db_type='pgpool', args='-w 1 -c 20 -d 1800 -s 100 -n -z "autotest pgpool"', tag='pgpool')
job.run_test('dbt2', db_type='mysql', args='-w 1 -c 20 -d 1800 -s 100 -n -z "autotest mysql"', tag='mysql')
