AUTHOR = "markwkm <markwkm@us...>"
NAME = "dbt2"
TEST_CLASS = "kernel"
TEST_CATEGORY = "Functional"
TEST_TYPE = "client"
DOC = """
Dbt-2 is a fair-use implementation of the TPC-C benchmark.  The test is
currently hardcoded to use PostgreSQL but the kit also supports MySQL.
"""
TIME="SHORT"
EXPERIMENTAL = "True"

job.run_test('dbt2', db_type='pgsql', args='-w 1 -c 20 -d 1800 -s 100 -n -z "autotest pgsql"', tag='pgsql')
job.run_test('dbt2', db_type='pgpool', args='-w 1 -c 20 -d 1800 -s 100 -n -z "autotest pgpool"', tag='pgpool')
job.run_test('dbt2', db_type='mysql', args='-w 1 -c 20 -d 1800 -s 100 -n -z "autotest mysql"', tag='mysql')
