AUTHOR = 'mbligh@google.com (Martin Bligh)'
TIME = 'MEDIUM'
NAME = 'Linus Stress'
TEST_TYPE = 'client'
TEST_CLASS = 'Kernel'
TEST_CATEGORY = 'Stress'

DOC = '''
Runs the standard linus_stress test.
'''

job.run_test('linus_stress')
