[Unit]
Description=Autotest scheduler
Requires=mysqld.service
After=mysqld.service

[Service]
ExecStart=/usr/local/autotest/scheduler/autotest-scheduler-watcher
User=autotest
Group=autotest
Restart=on-abort

[Install]
WantedBy=multi-user.target
