[Unit]
Description=Autotest scheduler

[Service]
ExecStart=/usr/local/autotest/scheduler/monitor_db_babysitter
User=autotest
Group=autotest
Restart=on-abort

[Install]
WantedBy=multi-user.target
