NAME = "LTP"
AUTHOR = "Martin Bligh <mbligh@google.com>"
TIME = "MEDIUM"
TEST_CATEGORY = "FUNCTIONAL"
TEST_CLASS = "KERNEL"
TEST_TYPE = "CLIENT"
DOC = """
Linux Test Project. See http://ltp.sourceforge.net/
"""

job.run_test('ltp')
