AUTHOR = "walkinair@cn.ibm.com"
NAME = "fs_mark"
TEST_CATEGORY = "Stress"
TEST_CLASS = "General"
TEST_TYPE = "client"
TIME = 'MEDIUM'
EXPERIMENTAL = "True"
DOC='''
Detect barrier issues in file systems.

If a file system have write barrier not protecting synchronous write,
the number of synchronous (single threaded) operations/sec will exceed the
calculated number of synchronous operations/sec of the underlying drive.

Details of fs_mark can be found at:
http://devresources.linux-foundation.org/dev/doubt/fs_mark/index.html
'''
job.run_test('fs_mark', dir='/mnt')
