NAME = "cpuset tasks bug"
AUTHOR = "Divyesh Shah (dpshah@google.com)"
TEST_TYPE = "client"
TEST_CLASS = "Kernel"
TEST_CATEGORY = "Functional"
TIME = "SHORT"
DOC = """\
This is a functional test for the bug where reading a cpuset's tasks file would
fail with ENOMEM when a large number of tasks are present in that cpuset.
"""

cont_args = {'cpus': [0, 1, 2, 3],
             'mbytes': 3000,
	     'root': '',
	     'name': 'autotest_container'}
job.new_container(**cont_args)
job.run_test('cpuset_tasks')
job.release_container()
