AUTHOR = 'Martin Bligh <mbligh@google.com>'
DOC = '''
description rt test utils
URL http://www.kernel.org/pub/scm/linux/kernel/git/tglx/rt-tests.git
'''
NAME = 'cyclic_test'
TIME = 'MEDIUM' ## ?
EXPERIMENTAL = 'True'
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = 'client'

job.run_test('cyclictest')
