AUTHOR = "Martin Bligh <mbligh@google.com>"
NAME = "AIM 7"
TIME = "MEDIUM"
TEST_CLASS = "Kernel"
TEST_CATEGORY = "Benchmark"
TEST_TYPE = "Client"

DOC = """Run the Open Source AIM 7 benchmark from
http://sourceforge.net/project/showfiles.php?group_id=71019"""

job.run_test('reaim')
