AUTHOR = "Daniel Berrange <berrange@redhat.com>"
DOC = """
The libvirt TCK provides a framework for performing testing
of the integration between libvirt drivers, the underlying virt
hypervisor technology, related operating system services and system
configuration.

Thus the libvirt TCK will allow developers, administrators and users
to determine the level of compatability of their platform, and
evaluate whether it will meet their needs, and get awareness of any
regressions that may have occurred since a previous test run
"""

TIME="MEDIUM"
NAME = 'libvirt_tck'
TEST_CLASS = 'Virtualization'
TEST_TYPE= 'client'
TEST_CATEGORY = 'Regresstion'

import os

os.environ['LANG'] = 'en_US.UTF-8'

libvirt_tck_dir = os.path.join(os.environ['AUTODIR'],'tests/libvirt_tck')

def get_case_item(casefile):
    if not os.path.exists(casefile):
        return

    case_items = []
    fh = open(casefile, "r")
    for eachLine in fh:
        line = eachLine.strip()
        if not line or line[0].isdigit() or line.startswith('#'):
            continue

        item = line[:-1]
        case_items.append(item)

    fh.close()
    return case_items

testcase_conf = os.path.join(libvirt_tck_dir, 'testcase.cfg')
item_list = get_case_item(testcase_conf)

for item in item_list:
    job.run_test('libvirt_tck', item=item, tag=item)
