AUTHOR = "Jeremy Orlow <jorlow@google.com>"
NAME = "Re-install Machine"
TIME = "MEDIUM"
TEST_CLASS = "Kernel"
TEST_CATEGORY = "Utility"
TEST_TYPE = "server"
RUN_VERIFY = False
DOC = """\
This will re-install a machine, using the code in
autotest_lib.server.hosts.Host.machine_install()."""

def run(machine):
    host = hosts.create_host(machine, initialize=False)
    job.run_test('reinstall', host=host, disable_sysinfo=True)

job.parallel_simple(run, machines)
