AUTHOR = "Plamen Dimitrov (plamen.dimitrov@intra2net.com)"
NAME = "lvsetup"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "General"
TEST_TYPE = "client"

DOC = """
Test that automatically takes shapshots from existing logical volumes
or creates them.
"""

# Commented out, you can see the default values used by the test constructor
#job.run_test('lvsetup', vg_name='autotest_vg', lv_name='autotest_lv',
#             lv_size='1G', lv_snapshot_name='autotest_sn',
#             lv_snapshot_size='1G', override_flag=0)

job.run_test('lvsetup')