NAME='Spew'
AUTHOR='Martin Bligh <mbligh@google.com>'
EXPERIMENTAL='True'
TEST_TYPE='client'
TEST_CATEGORY='Benchmark'
TEST_CLASS='Hardware'
TIME='MEDIUM'
DOC='''\
The spew package is used to test I/O performance and to generate load
on character devices, block devices, and file systems.  It is similar
to the lmdd program found in the lmbench test-suite
(http://www.bitmover.com/lmbench). It is a bit easier to use than lmdd
and has some added functionality.  For example, it can test both
random and sequential I/O.
'''
job.run_test('spew')
