AUTHOR = 'Gregory P. Smith <gps@google.com>'
EXPERIMENTAL = 'True'  # Not really, but this is only for testing autotest...
                       # not testing _with_ autotest.
NAME = 'error test, make sure TestNAError skips steps in step enginer'
TEST_TYPE = 'client'
TEST_CLASS = 'General'
TEST_CATEGORY = 'Functional'
TIME = 'SHORT'
DOC = """Raise TestNAError during step1.  step0, 2 and 3 should run."""


def step_init():
    job.next_step(step_test)


def step_test():
    job.next_step('step0')
    job.next_step('step1')
    job.next_step('step2')


def step0():
    print 'step0 is the coolest!'


def step1():
    raise error.TestNAError('This part can not run here.  meep meep.')


def step2():
    print 'screw you step0, I am the coolest. -step2'
    job.next_step('step3')


def step3():
    print 'at least I can run.  unlike step1.'
