AUTHOR = "Michal Piotrowski <michal.k.k.piotrowski@gmail.com>"
TIME = "MEDIUM"
NAME = "ISIC"
TEST_TYPE = "client"
TEST_CLASS = "Kernel"
TEST_CATEGORY = "Functional"

DOC = """
Runs the ISIC (IP Stack Integrity Checker) test. For more information see
http://www.packetfactory.net/Projects/ISIC/
"""

job.run_test('isic')
