NAME='scrashme'
AUTHOR='Yi Yang <yang.y.yi@gmail.com>'
TEST_CATEGORY='Stress'
TEST_CLASS='Kernel'
TEST_TYPE='client'
TIME='MEDIUM'
DOC='''\
Runs the scrashme suite located at: 
http://www.codemonkey.org.uk/projects/git-snapshots/scrashme/
o Now tests all syscalls, not just 256
o Certain syscalls made things get out of hand too quickly.
  Forkbombing a box with this app kills it very quickly.
  (An alternative would be to only run this with strict rlimits, but
  there are a few other syscalls we also take care of..)
o Do the syscall in a child process so if something hangs, we can continue.
o Printing of the syscall name/return code.
o Several extra modes of attack.
'''
job.run_test('scrashme')
