NAME = 'TBench'
AUTHOR = 'mbligh@google.com (Martin Bligh)'
TIME = 'MEDIUM'
TEST_CLASS = 'IO'
TEST_CATEGORY = 'Benchmark'
TEST_TYPE = 'client'

DOC = """
tbench produces only the TCP and process load. It does the same socket
calls that smbd would do under a netbench load. It does no filesystem
calls. The idea behind tbench is to eliminate smbd from the netbench
test, as though the smbd code could be made infinately fast. The
throughput results of tbench tell us how fast a netbench run could go
if we eliminated all filesystem IO and SMB packet processing.  tbench
is built as part of the dbench package.
"""

job.run_test('tbench')
