AUTHOR = "Miroslav Rezanina <mrezanin@redhat.com>"
NAME = "scsi_testsuite"
TEST_CATEGORY = "Functional"
TEST_CLASS = "Hardware"
TEST_TYPE = "client"
TIME = 'MEDIUM'
DOC='''
This is simple test suit for SCSI commands that uses the sg3_utils to issue 
scsi commands.
Test require SCSI device that does not contain any valuable data.
'''

# Tested disk is specified by his scsi parameters
disk_id_type = "scsi"
disk_id = { 
                "host":2, 
                "channel":0, 
                "target":0, 
                "lun":0
              }

# Tested disk is specified by its serial number
# disk_id_type = "serial"
# disk_id = "F3h28zc"

# Tested disk is specified by its device file
# disk_id_type = "file"
# disk_id = "/dev/sdb"

# Executed tests 
tests_to_run = [
                '001', # Test sense data correctness
                '002', # TEST handling INVALID FIELD IN {PARAMETR LIST, CDB}
                '003', # Test handling zero allocation length CDBs
                '004', # Test handling zero length READ/WRITE requests
                '005', # Test INQUIRY for a page code without EVPD flag set
                '006', # Test INQUIRY with EVPD flag for incorrect EVPD page
                '007'  # Test support for mandatory VPD pages
               ]

# Run testsuit from tarball stored in autotest
job.run_test('scsi_testsuite',
              source_type='tar',
              source_location='scsi_testsuite.tar',
              disk_addr=(disk_id_type,disk_id),
              run_tests=tests_to_run)


# Get testsuit from original repository
# job.run_test('scsi_testsuite',
#               source_type='git',
#               source_location='git://risingtidesystems.com/scsi-testsuite.git'
#               disk_addr=(disk_id_type,disk_id),
#               run_tests=tests_to_run)
