AUTHOR = "Guannan Ren<gren@redhat.com>"
DOC = """
Libvirt-test-API is a powerful test suite that aims at functional regression
testing, trying to exercise nearly all the API using the libvirt Python bindings.

The test API currently covers:

    * domain: all classical lifetime operations, installation of various guests
              OSes, snapshots
    * interfaces: define, create, destroy, undefine, NPIV
    * virtual networks: define, create, destroy, undefine
    * storage: regression tests for most storage types and configurations dir,
               disk, netfs, iSCSI, multipath

Libvirt-test-API is maintained using a GIT repository,
http://libvirt.org/git/?p=libvirt-test-API.git;a=summary
and comment, patches and reviews are carried on the libvir-list
development list.
"""

import os

os.environ['LANG'] = 'en_US.UTF-8'

libvirt_test_api_dir = os.path.join(os.environ['AUTODIR'],
                                    'tests/libvirt_test_api')


TIME="MEDIUM"
NAME = 'libvirt_test_API'
TEST_CLASS = 'Virtualization'
TEST_TYPE= 'client'
TEST_CATEGORY = 'Regresstion'

def get_case_items(config_files_conf):
    if not os.path.exists(config_files_conf):
        return

    case_items = []
    fh = open(config_files_conf, "r")
    for eachLine in fh:
        line = eachLine.strip()
        if not line or line.endswith('.conf') or line.startswith('#'):
            continue

        item = line[:-1]
        case_items.append(item)

    fh.close()
    return case_items


config_files_conf = os.path.join(libvirt_test_api_dir, 'config_files.cfg')
item_list = get_case_items(config_files_conf)

for item in item_list:
    job.run_test('libvirt_test_api', item=item, tag=item)
