AUTHOR = 'mbligh@google.com (Martin Bligh)'
TIME = 'SHORT'
NAME = 'Kernel Build'
TEST_TYPE = 'client'
TEST_CLASS = 'Kernel'
TEST_CATEGORY = 'Functional'

DOC = '''
Builds several Linux kernels from source. Unlike kernbench, this test does
not attempt to measure the compilation.
'''

job.run_test('kernelbuild',
	     base_tree='/usr/local/src/linux-2.6.14.tar.bz2',
             patches=['/usr/local/src/patch-2.6.14-git6.bz2'],
             config='http://ftp.kernel.org/pub/linux/kernel/people/mbligh/config/config.up',
             tag='2.6.14-git6')

job.run_test('kernelbuild',
             base_tree='/usr/local/src/linux-2.6.18.tar.bz2',
             patches=['http://ftp.kernel.org/pub/linux/kernel/v2.6/testing/patch-2.6.19-rc6.bz2', 'http://ftp.kernel.org/pub/linux/kernel/v2.6/snapshots/patch-2.6.19-rc6-git2.bz2'],
             config='http://mbligh.org/config/opteron2',
             tag='2.6.19-rc6-git2')

job.run_test('kernelbuild',
             base_tree='/usr/local/src/linux-2.6.18.tar.bz2',
             patches=[],
             config='http://mbligh.org/config/opteron2',
             tag='2.6.18')
